# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn package --file petclinic/pom.xml
    - name: Run the application
      run: nohub java -jar petclinic/target/petclinic-2.2.2.BUILD-SNAPSHOT.jar &
    - name: Install dependencies
      run: mvn --file petclinic-selenium/pom.xml -DskipTests install
    - name: Run selenium tests
      run: mvn -Dtest=PetclinicTest --file petclinic-selenium/pom.xml -Dbrowser=chrome -Dheadless=true test

